// WEB CHART STYLE TWEAKS

.#{$prefix}chart_source {
  text-transform: none;
}

.#{$prefix}bar-label {
  font-family: $heading-font-family;
}

h2.edit-indicator { display: none; }

// Avoid text wrapping problem in Firefox
textarea.input-data-edit { white-space: pre-wrap; }

// Make the annotation x-axis line dashed
.#{$prefix}annotation_range-line {
  stroke: $color-gray-medium;
  stroke-dasharray: 4,4;
}


